* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.nav {
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  align-items: center;
  height: 40px;
}

.cart-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 150px;
  height: 40px;
  border: solid 2px rgb(70, 124, 93);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  background: white;
}

.cart-icon > p {
  color: black;
  font-size: 15px;
}

.main-container {
  position: relative;
  top: 50px;
}

.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container {
  width: 200px;
  height: 200px;
  border: solid 2px rgb(70, 124, 93);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
}

.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  justify-self: center;
  margin-bottom: 50px;
}

img {
  width: 100%;
  object-fit: contain;
}

.quantity {
  display: flex;
}

.quantity-input {
  width: 40px;
  margin-left: 5px;
}

input::-webkit-inner-spin-button {
  opacity: 1;
}

.add-btn {
  margin-top: 10px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  margin-top: 50px;
  width: 80%;
}

table, th, td {
  border: solid 1px black;
  border-collapse: collapse;
}

.quantity-column, .price-column {
  width: 100px;
}

.price-td {
  text-align: end;
}

.cart-quantity-input {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.remove-btn {
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: red;
}

.checkout-btn {
  margin-top: 20px;
}